@import "../variables.scss";

.signup-page {
  min-height: 100vh;
  background: #f5f5f5;
}

.signup-hero {
  background: $option-hover;
  padding: 15px;
  text-align: center;

  h1 {
    color: white;
  }
}

.signup-content {
  max-width: 1100px;
  margin: 40px auto;
  display: flex;
  gap: 40px;
  padding: 0 20px;

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.signup-card-left,
.signup-card-right {
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  flex-shrink: 0;
}

/* LEFT CARD */
.signup-card-left {
  width: 40%;
  text-align: center;

  @media (max-width: 900px) {
    width: 100%;
  }

  .profile-upload {
    margin-top: 20px;

    .profile-preview {
      width: 130px;
      height: 130px;
      object-fit: cover;
      border-radius: 5%;
      border: 2px dashed #aaa;
      cursor: pointer;
      margin-bottom: 8px;
    }

    p {
      font-size: 14px;
      color: #555;
    }
  }
}

/* RIGHT CARD */
.signup-card-right {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;

  @media (max-width: 900px) {
    width: 100%;
    grid-template-columns: 1fr;
  }

  input,
  select {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }

  .go {
    grid-column: span 2;
    background: $common-bg;
    color: white;
    padding: 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }

  .password-field {
    position: relative;
    grid-column: span 1;

    input {
      width: 100%;
      padding-right: 40px;
    }

    .eye-icon {
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      color: #666;
      font-size: 18px;
    }
  }
}

@media (max-width: 768px) {
  .signup-card-right {
    display: flex; /* override grid */
    flex-direction: column;

    input,
    select,
    .go {
      width: 100%;
    }
  }
}
// .signup-card-right input[type="tel"] {
//   width: 100%;
//   padding: 12px 12px 12px 50px; // leave space for flag
//   border-radius: 6px;
//   border: 1px solid #ccc;
// }

/* Force the main container to full width */
.iti {
  width: 100%;
}

/* Flag inside input */
.iti__selected-flag {
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  z-index: 4;
}

/* Dropdown country list */
.iti__country-list {
  width: 280px !important; // wider so search input fits
  max-height: 240px !important;
  overflow-y: auto;
  z-index: 1000;
}

/* Country search input */
.iti__country-list .iti__search {
  width: 90%;
  padding: 6px 10px;
  margin: 6px auto 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  display: block;
}

/* Search icon */
.iti__country-list .iti__search + .iti__country {
  display: flex;
  align-items: center;
}

/* Fix hover & highlight */
.iti__country:hover {
  background-color: #f0f0f0;
}

.iti__search-icon-svg{
  display: none !important;
}