@import "../variables.scss";

.signup-page {
  min-height: 100vh;
  background: #f5f5f5;
}

.signup-hero {
  background: $option-hover;
  padding: 15px;
  text-align: center;

  h1 {
    color: white;
  }
}

.signup-content {
  max-width: 1100px;
  margin: 40px auto;
  display: flex;
  gap: 40px;
  padding: 0 20px;

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.signup-card-left {
  width: 40%;
  background: white;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);

  @media (max-width: 900px) {
    width: 100%;
  }

  .profile-upload {
  margin-top: 20px;
  text-align: center;

  .profile-preview {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 5%;
    border: 2px dashed #aaa;
    cursor: pointer;
    margin-bottom: 8px;
  }

  p {
    font-size: 14px;
    color: #555;
  }
}

}

.signup-card-right {
  width: 50%;
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;

  input {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }

  .go {
    grid-column: span 2;
    background: $common-bg;
    color: white;
    padding: 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }

  @media (max-width: 900px) {
    width: 100%;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .signup-card-right {
    display: flex; /* override grid */
    flex-direction: column; /* stack fields */
  }

  .signup-card-right input,
  .signup-card-right .go {
    width: 100%;
  }
}

.password-field {
  position: relative;
  grid-column: span 1;

  input {
    width: 100%;
    padding-right: 40px;
  }

  .eye-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
    font-size: 18px;
  }
}

@media (max-width: 900px) {
  .password-field {
    grid-column: span 1;
  }
}
