@import "./variables.scss";

/* Hide scrollbar for Chrome, Safari, Edge */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
}

/* Hide scrollbar for IE/Edge legacy */
* {
  -ms-overflow-style: none;
}
